#title {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}
.app {
  width: 100vw;
  height: 100vh;
  background: lightgray;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
#barchart {
  top: 100px;
  margin-left: 100px;
  position: absolute;
}

.bar {
  color: lightsalmon;
}

#tooltip {
  position: absolute;
  text-align: center;
  padding: 10px;
  width: 150px;
  height: 50px;
  padding: 2px;
  background: lightsteelblue;
}
